@charset "UTF-8";
* {
  margin: 0; /* 间距 */
  padding: 0; /* 内间距 */
}

body{background: #000;}


#app{
  margin: 120px auto ;/* 20px auto 20px auto*/
  /*
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  */
  width: 300px;
  /* border: 1px solid red; */
  padding: 20px;
  background: linear-gradient(0deg, #eee 0%, whitesmoke 100%);
  border-radius: 10px;
}


.title{
  margin-right: 5px;
}
.row{
  margin-bottom: 15px;
}

input, select{
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  width: 255px;
}

.sex{
  width: 20px;
  height: 20px; 
  margin-right: 10px;
}
button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #409eff;
}